<?xml version="1.0"?>
<!--
/**
 * GhoSter FacebookComment
 *
 * @package        GhoSter_FacebookComment
 * @author         GhoSter
 * @copyright      Copyright (c) 2016, GhoSter Inc<thinghost.info>. All rights reserved
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ghoster" sortOrder="200">
            <label>GhoSter Inc</label>
        </tab>
    </system>
</config>